/*top部分*/
.top {width:100%;height:64px;}
.title {height:64px;float:right;margin-right:20px;}
.title span {line-height:64px;}
.title a {font-size:13px;font-family:宋体;text-decoration:underline;color:#333;margin:0 8px}
.title a:hover{color:red;}
.title .bold {font-weight:bold;}
.list {border:0;height:25px;width:60px;background:#3366ff;color:#fff;position:relative;left:8px;top:-2px;}
/*bottom部分*/
.pic {text-align:center;margin-bottom:30px;}
.logo {height:130px;width:270px;}
.search {margin-left:315px;}
.input {width:540px;height:43px;float:left;}
.btn {font-size:13px;border:0;width:100px;height:49px;background-color:#3366ff;color:#fff;font-size:15px;padding:0;float:left;}
.btn:hover{color:red;background:#330000}
/*foot部分*/
.link img {width:100px;height:100px;position:absolute;bottom:100px;left:354px;border:0;}
.link .p{position:absolute;bottom:144px;left:463px;font-weight:bold;font-family:微软雅黑;}
.link .p1{position:absolute;bottom:114px;left:463px;font-family:微软雅黑;color:#999;}
.link1 img {width:100px;height:100px;position:absolute;bottom:100px;left:543px;font-size:12px;border:0;}
.link1 .p2{position:absolute;bottom:144px;left:637px;font-weight:bold;font-family:微软雅黑;}
.link1 .p3{position:absolute;bottom:114px;left:637px;font-family:微软雅黑;color:#999;}
/*底部*/
.foot{width:100%;position:absolute;bottom:144px;}
.foot1{text-align:center;margin-bottom:57px;margin-right:170px;}
.foot1 a{margin:0 10px;float:right;font-size:12px;font-family:宋体;text-decoration:underline;color:#999;}
.foot1 a:hover{color:blue;}
.copyright p{float:right;position:absolute;bottom:2px;right:212px;font-size:12px;font-family:宋体;color:#666;}
.copyright a{color:#666;}
.copyright a:hover{color:blue;}
.copyright h5{position:absolute;bottom:-45px;right:306px;font-family:宋体;text-decoration:underline;color:#999;font-size:12px;}
.copyright img{width:16px;position:absolute;bottom:-27px;right:455px;}
button{margin:66px -445px;background:#0000ff;border:none;width:112px;height:30px;color:red;font-size:bold;}
button:hover{background:#660000;color:#7617537;}